<head>
  <meta charset="utf-8">
  <title>Greetings</title>

  <link rel="stylesheet" href="/css/simple-grid.css">
  <link rel="stylesheet" href="/css/simple-grid.min.css">
  <link rel="stylesheet" href="/css/simple-grid.scss">
  <link rel="stylesheet" href="/css/style.css">
</head>


  <div class="container">
      {{{body}}}
  </div>
