<!DOCTYPE html>
<html>
  <body>
      <div class="col s12 m2 container z-depth-5">
          <div class="row">
            <div class="col-12">
              <h3 class="HeaderName center"> GREETINGS  PAGE</h3>
            </div>
          </div>

      <div class="row">
        <div class="">


          <form class="col 12 s12 m12 center" action="/greetings" method="post">
            <div class="">
              
              <i class="material-icons prefix">account_circle</i>
                <input class="textArea center" type="text" name="textInput" placeholder="Enter your name">
            </div>



            <div class="row radio center ">
              <p class="col 3">
                <label>
                  <input name="language" type="radio" class="language" value="English" />
                  <span>English</span>
                </label>
              </p>

              <p class="col 3">
                <label>
                  <input name="language" type="radio" class="language" value="Isixhosa" />
                  <span>Isixhosa</span>
                </label>
              </p>

              <p class="col 3">
                <label>
                  <input name="language" type="radio" class="language" value="Afrikaans" />
                  <span>Afrikaans</span>
                </label>
              </p>

            <div class="col 3 reset">
              <button class="btn waves-effect deep-orange darken-3 EnterBtn" type="submit" name="enterBtn" value="">Enter</button>
              <button class="btn waves-effect deep-orange darken-3 EnterBtn" type="submit" name="reset" value="" href= "/reset">Reset</button>
            </div>
          </form>

        <div class=" counter">
            <em class="">Counter: <span class="counter" name ="count" href="">{{count}}</span></em>
        </div>
      </div>
      </div>

          <div class="row">
              <div class="col-12">
                  <h6 class="display center" href="/display" name = "display"> {{displayNames}} </h6>
              </div>

              <div class="col-12">
                  <span href = "/flash" name= "flash">{{message.info}}</span>
              </div>
          </div>



      </div>
      <div class="footer-copyright blue-grey darken-2">
          <div class=" center container">
                    <h6 class=""> © 2018 Mzwamadoda Louw </h6>
            </div>
        </div>

  </body>
</html>
