<!DOCTYPE html>
<html>
  <body>
      <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="HeaderName"> GREETINGS  PAGE</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-12">

              <form class="col-10" action="/greetings" method="post">
                <div class="col-7">
                    <small class="">Type in your name:</small>
                    <input class="textArea" type="text" name="textInput">
                </div>

                <div class="col-4">
                  <input class="EnterBtn" type="submit" name="enterBtn" value="Greet">
                </div>

                <div class="row radio">
                    <label class="col-4">
                      <input class=" language" type="radio" name="language" value="English" checked>English
                    </label>

                    <label class="col-4">
                      <input class=" language" type="radio" name="language" value="Isixhosa">Isixhosa
                    </label>

                  <label class="col-4">
                      <input class="language" type="radio" name="language" value="Afrikaans" >Afrikaans
                  </label>
                </div>

                <div class="col-2 reset">
                  <input class="" type="submit" name="reset" value="reset" href= "/reset">
                </div>
              </form>

            <div class="col-2 counter">
                <em class="">Counter: <span class="counter" name ="count" href="">{{count}}</span></em>
            </div>
          </div>
      </div>

          <div class="row">
              <div class="col-12">
                  <p class="display" href="/display" name = "display"> {{displayNames}} </p>
              </div>

              <div class="col-12">
                  <span href = "/flash" name= "flash">{{message.info}}</span>
              </div>
          </div>

      </div>

  </body>
</html>
